// Colors
$primary-color: #0a0f12;
$secondary-color: #191b1e;
$text-color: #ffffff;
$border-color: #191b1e;
$points-color: #384f66;
$background-dark: #000;

// Fonts
$font-family: "Open Sans", sans-serif;
$font-size-large: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;
$font-weight-light: 300;

// Spacing
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 3rem;
$gap-large: 3rem;
$margin-small: 10px;
$margin-medium: 1rem;
$margin-large: 3rem;

// Other
$max-width: 900px;

// Define breakpoints
$breakpoints: (
  mobile: (
    max: 599px,
  ),
  tablet: (
    min: 600px,
    max: 899px,
  ),
  tablet-wide: (
    min: 900px,
    max: 1199px,
  ),
  desktop: (
    min: 1200px,
    max: 1799px,
  ),
  large-desktop: (
    min: 1800px,
  ),
);

// Mixin for media queries
@mixin respond-to($breakpoint) {
  $bp: map-get($breakpoints, $breakpoint);
  $min-width: if(map-has-key($bp, min), map-get($bp, min), null);
  $max-width: if(map-has-key($bp, max), map-get($bp, max), null);

  @if $min-width and $max-width {
    @media only screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      @content;
    }
  } @else if $min-width {
    @media only screen and (min-width: #{$min-width}) {
      @content;
    }
  } @else if $max-width {
    @media only screen and (max-width: #{$max-width}) {
      @content;
    }
  }
}
